extends layout

block content
    h1= title
    p Welcome to #{title}

    p [GET]
    p Your name is #{name}
    p Your message is #{message}

    p [POST]
    p Original String: #{string}
    p Length: #{len}