<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <h1><%= country %> <%= title %></h1>
    <br>
    <p> <b> ~ ~ ~ 1 ~ ~ ~ </b> </p>
    <p><b>Author: </b> <%= author1 %> </p>
    <p><b>Title: </b> <%= title1 %> </p>
    <p><b>Description: </b> <%= description1 %> </p>
    <p><a href="<%= url1 %>"> Visit it </a> </p>
    <p><b>Date: </b> <%= date1 %> </p>
    <br>
    <br>
    <p> <b> ~ ~ ~ 2 ~ ~ ~ </b> </p>
    <p><b>Author: </b> <%= author2 %> </p>
    <p><b>Title: </b> <%= title2 %> </p>
    <p><b>Description: </b> <%= description2 %> </p>
    <p><a href="<%= url2 %>"> Visit it </a> </p>
    <p><b>Date: </b> <%= date2 %> </p>
    <br>
    <br>
    <p> <b> ~ ~ ~ 3 ~ ~ ~ </b> </p>
    <p><b>Author: </b> <%= author3 %> </p>
    <p><b>Title: </b> <%= title3 %> </p>
    <p><b>Description: </b> <%= description3 %> </p>
    <p><a href="<%= url3 %>"> Visit it </a> </p>
    <p><b>Date: </b> <%= date3 %> </p>
    <br>
    <br>
    <p> <b> ~ ~ ~ 4 ~ ~ ~ </b> </p>
    <p><b>Author: </b> <%= author4 %> </p>
    <p><b>Title: </b> <%= title4 %> </p>
    <p><b>Description: </b> <%= description4 %> </p>
    <p><a href="<%= url4 %>"> Visit it </a> </p>
    <p><b>Date: </b> <%= date4 %> </p>
    <br>
    <br>
    <p> <b> ~ ~ ~ 5 ~ ~ ~ </b> </p>
    <p><b>Author: </b> <%= author5 %> </p>
    <p><b>Title: </b> <%= title5 %> </p>
    <p><b>Description: </b> <%= description5 %> </p>
    <p><a href="<%= url5 %>"> Visit it </a> </p>
    <p><b>Date: </b> <%= date5 %> </p>

  </body>
</html>
